*{
    margin: 0;
    padding: 0;
}
body{
    background: rgb(30, 23, 36);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}
.cruds{
 width: 80%;
 margin:auto ;

}
.head{
    
 text-align: center;
 text-transform: uppercase;
 margin: 10px 0;

}
input{
    width: 100%;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding:4px ;
    margin: 4px 0;
    background:rgb(19, 15, 15) ;
    color: #fff;

}
input:focus{
    background: black;
}
.price input{
    width: 20%;
}
#total{
    background: rgb(99, 32, 32);
    padding: 4px 2px;
    border-radius: 4px;
}
#total::before{
    content: "Total:";
}
button{
    width:100%;
    border:none;
    height:30px;
    border-radius:7px;
    transition: .5s;
}
button:hover{
    cursor: pointer;
    color: rgb(16, 22, 22);
    background: rgb(165, 106, 106);
    letter-spacing: 1px;
    
}
.btnsearch{
    display: flex;
    justify-content: space-between;
}
.btnsearch button{
    width: 35%;
}
#deleteall{
    margin: 20px 0;
}

table{
    width: 100%;
    margin: 10px 0;
    text-align: center;
}
table th{
    text-transform: uppercase;
}
th td {
    padding: 5px;
}
